{% extends "base_site.html" %}
{% load staticfiles %}

{% block title %}Terms and Conditions{% endblock %}

{% block body %}

    <section>
        <div class="container">
            <div class="row">
            
                <h2 class="heading heading--start">Terms and Conditions</h2>
                
                <p>
                <ol>
                    <li>Workstry does not offer any form of certificate for its training which is a free service offered to job seekers solely to increase their chances of securing and passing interviews with employers who hire through Workstry and no others.</li>
                    <li>Workstry does charge a small registration fee of Kes 1000 due for payment after the completion of Workstry's first of five currently available course.</li>
                    <li>The registration fee is payable through mobile money.</li>
                    <li>The fee is not to be construed as a fee for our training but rather a processing fee covering the document verification and processing from trainees recruited via Workstry.</li>
                    <li>The fee is refundable minus charges if requested via an email to info@workstry.com following the fulfillment of both conditions below:
                    <ul>
                        <li>Successful completion of all the required training</li>
                        <li>Failure to receive at least five interview invitations via Workstry in the three months following successful completion of required training</li>
                    </ul>
                    </li>
                    <li>Workstry does intend to charge optional additional fees for its soon-to-launch premium services, for example, an interactive interview services to allow trainees take mock-interviews on the Workstry platform.</li>
                    <li>Successful completion of all training is understood as undertaking all courses, modules and lessons and exercises attached to modules and lessons in a diligent manner that shows progress in learning and upon completion of online training, attendance, in person. of an interview day with Workstry trainers and interviewers.</li>
                    <li>Trainees who do not pass in-person interviews will not qualify to be listed in the Workstry database and thus will not gain access to employers via Workstry.</li>
                    <li>Cheating either by impersonation or answering questions in dummy text will be monitored closely and is grounds for account closure and a ban from our system.</li>
                    <li>Workstry does not guarantee that trainees will find jobs through our recruitment system. We provide training and the opportunity for trainees to present themselves to employers. Success with employers solely depends on how well a trainee internalizes and uses the training provided and this is not within the control of Workstry, therefore, not our responsibility.</li>
                    <li>We estimate that training time will run up to 50 hours, but your required training time will depend on your own pace.</li>
                    <li>The training product you are about to access is in beta form. We will release a new course about every ten days, meaning that training may be slower for those who join the training first. We will continuously make changes as per feedback received from both trainees and employers, but hope to create as little disruption as possible.</li>
                </ol>
</p>  
                
            </div>
                <!-- end row -->
        </div>
        <!-- end container -->
    </section>

{% endblock body %}
