{% extends "base_generic.html" %}
{% load staticfiles %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<div id="contentwrapper">
    <div class="main_content">
        <div id="jCrumbs" class="breadCrumb module">
            <ul>
                <li>
                    <a href="{% url 'dashboard' %}"><i class="glyphicon glyphicon-home"></i></a>
                </li>
            </ul>
        </div>	
        <div class="row">
            
            <div class="col-sm-12 col-md-12">
                <h3 class="heading">Dashboard</h3>
                
            </div>
            
            
        </div>                
    </div>
</div>
{% endblock body %}
